/*
// TODO: Evaluar si dejar todas las importaciones de utilities con el use

@forward "bulma/sass/utilities/initial-variables";
@forward "bulma/sass/utilities/functions";
@forward "bulma/sass/utilities/derived-variables";
*/
// Import and/or override Bulma variables at modules level
@forward '@fortawesome/fontawesome-svg-core/styles.css';
@use "@/assets/sass/_variables" as *;
@use "bulma/sass/utilities" with(
  $primary: $primary,
);
// #F4F4F9 ghost white
// #FCF7FF magnolia
@forward "bulma/sass/base";
@forward "bulma/sass/base/skeleton";
@forward "bulma/sass/helpers/visibility";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/color";

/*Import layouts*/
@forward "bulma/sass/layout";

// For helpers
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/helpers/visibility";

// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";

@forward "bulma/sass/elements/content";
@forward "bulma/sass/grid";

/*body{
  background-color: #FCF7FF;
}*/
hr {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #aa084e, #feecf4);
  border-radius: 2px;
}

.text-darkened {
  filter: brightness(0.7);
  font-weight: 600;
}
